@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media (max-width: 970px) {
    flex-direction: column;
  }
}
@mixin center {
  width: 76%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 1499px) {
    width: 60%;
  }
  @media (max-width: 970px) {
    width: 90%;
    font-size: 12px;
  }
}
.container {
  @include center();

  .flex-container {
    @include flex();
    .flex-right {
      width: 28%;
      @media (max-width: 970px) {
        width: 100% !important;
      }
    }
    flex-direction: column;
    .flex-left {
      width: 69%;
      @media (max-width: 970px) {
        width: 100% !important;
      }
    }
  }
}
