.image-card {
  .image-container {
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    position: relative;
    cursor: pointer;

    img {
      width: 100%;
      height: 600px;
      object-fit: unset;
      object-position: center;
      cursor: pointer;
      transition: 0.8s ease-in-out;
      z-index: 10000;
      margin-top: 30px;
      // &:hover {
      //   object-position: 20px 0;
      // }
      @media (max-width:600px) {
        margin-top: 10px;
        height: 350px;
      }
    }
    &::after {
      content: "";
      // background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      inset: 0;
    }
    .text-container {
      position: absolute;
      z-index: 1000;
      bottom: -12px;
      margin: 0;
      padding: 40px;
      background-color: rgba(0, 0, 0, 0.5);
      width: calc(100% - 80px);
      @media (max-width:600px) {
         position: relative;
         background-color: transparent;
         padding: 20px;
        }
      h2 {
        margin: 0;
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
        color: #fff;
        @media (max-width:600px) {
            color: #000;
            font-size: 16px;
            line-height: 20px;
          }
      }
      .nation-badge {
        margin: 0 0 10px;
        font-size: 12px;
        font-weight: 700;
        padding: 0 5px;
        background-color: red;
        color: #fff;
        display: inline-block;
        @media (max-width:600px) {
          position: absolute;
          top: -20px;
          }
      }
      .detail-flex {
        // display: none !important;
        margin-top: 10px;
        color: #fff;
        display: flex;
        gap: 8px;
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        @media (max-width:600px) {
           color: #000;
          }
        // transform: translateY(200%);
        a {
          text-decoration: none;
          color: #ed1c15;
        }
        .svg-flex {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
    // &:hover {
    // 	.detail-flex {
    // 		transition: 1s;
    // 		display: flex !important;
    // 	}
    // 	.text-container {
    // 		// display: flex !important;
    // 		transition: 2s;
    // 		// transform: translateY(100%);
    // 		bottom: 20px;
    // 	}
    // 	img {
    // 		// object-position: 20px 0;
    // 		transition: 2s;
    // 		width: 110%;
    // 	}
    // }
  }
}
